.banner{
    border-style: solid;
    border-color: aqua;
    overflow: hidden;
    white-space: nowrap;
}
.menu{
    background-color:#51c4d3;
}
.nav-link{
    color:#132c33;
}
.nav-item:hover{
    background-color: #132c33;
}
.nav-link:hover{
    color:#51c4d3;
}
.navbar-brand:hover{
    background-color: #132c33;
    color:#51c4d3;
}
@media (max-width: 768px) { 
    .nav-item{
        margin-top :10px;
        transition: all .5s ease;
    }
    .nav-item:hover{
        background-color:#132c33;
        padding-left: 30px;
    }
    .nav-link:hover{
        color:#51c4d3;
    }
}


